/* Default CSS Style Sheet for Open Core Website */

/* Overall page behaviour */
*,
*:before,
*:after {
  box-sizing: inherit;	
}
/* Red asterix symbol for required fields in forms */
*.required::after {
    content: ' *';
    color: red;
}

/* Default html styling for each page */
html {
	scroll-behavior: smooth;
	height: 100%;
	box-sizing: border-box;
	min-height: 100%;
    position: relative;
	margin: 0;
	padding: 0;
    background-color: #31424B;
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
}

/* Page headings large */
.heading {
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px; 
}

/* Page sub-headings medium */
.sub_heading {
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px; 
    text-shadow: 2px 2px 4px #000000;
}

/* Page sub-headings small */
.sub_heading2 {
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px; 
    text-shadow: 2px 2px 4px #000000;
}

/* All p tags are this size */
p {
    font-size: 18pt;
}

/* Padding dark */
.padding {
    padding-top:23px;
    background-color: #31424B;
}

/* Padding light */
.padding2 {
    padding-top:23px;
    background-color: #628395;
}

/* Text box area defaults */
.text_box {
    background-color: #628395;
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

/* Background colour for borders */
.bg_border {
    background-color: #31424B;
}

/* h1 tags inside containers have no line space after */
.container h1 {
    margin: 0;
    padding: 0;
}

/* p tags inside containers have no line space after */
.container p {
    margin: 0;
    padding: 0;
}

/* Alignment option */
.center_items {
    text-align: center;
    justify-content: center;
}

/* Bootstrap override on font-family */
.text-light {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

/* Hover effect over links */
button:hover, a:hover {
	opacity: 0.7;
}

/* Nav bar effect on active */
.nav-item.active {
    color: #FFFFFF;
    font-weight: bold;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

/* Carousel background colour */
.carousel-inner {
    background-color: #000000;
}

/* Image background colour for padding border */
.img_bg {
    background-color: #628395;
}

/* Image background colour for transparent images */
.img_bg2 {
    background-color: #000000;
    width: 100%;
}

/* Image transform effect for thumbnail class */
.thumbnail img:hover {
    transform: scale(1.05);
    width: 100%;
}

/* Image transition effect for thumbnail class */
.thumbnail img {
    transition: all 0.3s ease 0s;
}

/* Image hide overflow effect for thumbnail class */
.thumbnail {
    overflow: hidden;
}

/* Default image width could not amend Bootstrap img tag */
.img_width {
    width: 100%;
}

/* Line break thickness */
hr {
    height: 5px;
    background-color: #31424B;
}

/* Form defaults */
.forms {
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
}

/* Form alignment */
.form  { display: table;      }
.p     { display: table-row;  }
.label { display: table-cell; }
.input { display: table-cell; }

/* Border for forms */
.form_border {
    border-style: groove;
}

/* Move carousel text to top */
.carousel-caption {
    top: 0;
    bottom: auto;
}

/* Span option for font-size medium */
span2 {
    font-size: 15pt;
}

/* Span option for removing bold text */
span3 {
    font-weight: normal;
}

/* Span option for font-size large */
span4 {
    font-size: 20pt;
}

/* Span option for font-size small */
span5 {
    font-size: 10pt;
    color: #FFFFFF;
}

/* Span option for font style cents */
span6 {
    font-size: 10pt;
    vertical-align:super;
    color: #FFFFFF;
}

/* Span option for font style * required fields */
span7 {
    color: red;
    font-size: 10pt;
}

/* Video container for product demo */
.video_container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
  
/* Style for iframe to fit in the container div with full height and width */
.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* Style for buy button */
.buy_button {
    border-radius: 8px; /* Rounded corners */
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Remove underlines from links and style colour */
p a{
    color: #FFFFFF;
    text-decoration: none;
}

/* Alignment for specifications disclaimer */
.disclaimer {
    text-align: left;
    bottom:0;
}

/* Container for images with buy buttons */
.container_buy {
    position: relative;
}

/* Styling for the buy buttons on the home page images */
.button{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 8px;
    bottom: 10px;
    left: 43.75%; /* Margin % to keep buy button centered. 50px(button)/400px(container) 12.5%/2. */
    width: 50px;
    padding: 0px; /* Needed this to be in place for Safari browser */
}


@media screen and (max-width: 980px) {

    /* Adjust first name field size for small screen inline */
    .f_name {
        width: 100% !important;
    }

    /* Adjust last name field size for small screen inline */
    .l_name {
        width:100% !important;
    }

    /* Adjust last name field size for small screen inline */
    .mobile {
        width: 50% !important;
    }

}

@media screen and (max-width: 991px) {

    /* Adjust first name field size for medium screen inline */
    .f_name {
        width: 50% !important;
    }

    /* Adjust last name field size for medium screen inline */
    .l_name {
        width: 50% !important;
    }

}