
/* Default CSS Style Sheet for Open Core Website */

/* Overall page behaviour */

*,
*:before,
*:after {
  box-sizing: inherit;	
}


/* Default html styling for each page */

html {
	scroll-behavior: smooth;
	height: 100%;
	box-sizing: border-box;
	min-height: 100%;
    position: relative;
	margin: 0;
	padding: 0;
    background-color: #31424B;
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
}

.order_form {
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
}

.padding {
    padding-top:23px;
    background-color: #31424B;
}

.padding2 {
    padding-top:23px;
    background-color: #628395;
}

.text_box {
    background-color: #628395;
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    justify-content: center;
}
.bg_border {
    background-color: #31424B;
}

.container p {
    margin: 0;
    padding: 0;
}

.text-light {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

button:hover, a:hover {
	opacity: 0.7;
}

.nav-item.active {
    color: #FFFFFF;
    font-weight: bold;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.carousel-inner {
    background-color: #000000;
}

.img_bg {
    background-color: #628395;
}

  @media screen and (max-width: 900px) {

.img {
    width: 100%;
    display: block;
}

}