/* Default CSS Style Sheet for Open Core Website */

/* Overall page behaviour */

*,
*:before,
*:after {
  box-sizing: inherit;	
}
/* Red asterix symbol for required fields in forms */
*.required::after {
    content: ' *';
    color: red;
}

/* Default html styling for each page */

html {
	scroll-behavior: smooth;
	height: 100%;
	box-sizing: border-box;
	min-height: 100%;
    position: relative;
	margin: 0;
	padding: 0;
    background-color: #31424B;
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
}

/* Page headings large */
.heading {
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px; 
}

/* Page sub-headings medium */
.sub_heading {
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px; 
}

/* All p tags are this size */
p {
    font-size: 20pt;
}

/* Padding dark */
.padding {
    padding-top:23px;
    background-color: #31424B;
}

/* Padding light */
.padding2 {
    padding-top:23px;
    background-color: #628395;
}

/* Text box area defaults */
.text_box {
    background-color: #628395;
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

/* Background colour for borders */
.bg_border {
    background-color: #31424B;
}

/* h1 tags inside containers have no line space after */
.container h1 {
    margin: 0;
    padding: 0;
}

/* p tags inside containers have no line space after */
.container p {
    margin: 0;
    padding: 0;
}

/* Alignment option */
.center_items {
    text-align: center;
    justify-content: center;
}

/* Bootstrap override on font-family */
.text-light {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

/* Hover effect over links */
button:hover, a:hover {
	opacity: 0.7;
}

/* Nav bar effect on active */
.nav-item.active {
    color: #FFFFFF;
    font-weight: bold;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

/* Carousel background colour */
.carousel-inner {
    background-color: #000000;
}

/* Image background colour for padding border */
.img_bg {
    background-color: #628395;
}

/* Image transform effect for thumbnail class */
.thumbnail img:hover {
    transform: scale(1.05);
    width: 100%;
}

/* Image transition effect for thumbnail class */
.thumbnail img {
    transition: all 0.3s ease 0s;
}

/* Image hide overflow effect for thumbnail class */
.thumbnail {
    overflow: hidden;
}

/* Default image width could not amend Bootstrap img tag */
.img_width {
    width: 100%;
}

/* Line break thickness */
hr {
    height: 5px;
    background-color: #31424B;
}

/* Form defaults */
.forms {
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
}

/* Form alignment */
.form  { display: table;      }
.p     { display: table-row;  }
.label { display: table-cell; }
.input { display: table-cell; }

/* Border for forms */
.form_border {
    border-style: groove;
}



